<div id="sidebar" th:fragment="sidebar">
    <ul class="accordionSidebar navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion"><!-- Sidebar - Brand-->
        <a class="d-flex align-items-center justify-content-center" href="/standings">
            <img class="card-img-top mx-auto" src="/logo/f1cstracker2k.png" alt="F1CS Tracker">
        </a>
        <li class="nav-item" id="standings"><a class="nav-link" href="/standings"><i
                class="fa-solid fa-table"></i><span>Standings</span></a></li>
        <li class="nav-item" id="tracks"><a class="nav-link" href="/listF1Tracks"><i class="fa-regular fa-calendar"></i><span>Tracks</span></a>
        </li>
        <li class="nav-item" id="drivers"><a class="nav-link" href="/listF1Drivers"><i class="fa-solid fa-car"></i></i>
            <span>Drivers</span></a></li>
    </ul>

</div>