<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="~{fragments/header :: head}">
    <title>Drivers</title>
</head>

<body>

<div id="wrapper">

    <div th:replace="~{fragments/sidebar :: #sidebar}"></div>

    <div class="container-fluid">

        <div class="d-flex flex-column" id="content-wrapper">
            <div th:replace="~{fragments/topbar :: #topbar}"></div>

            <h3 class="h3 mt-2 text-gray-800">Drivers</h3>

            <div class="card shadow mt-4">
                <div class="card-header">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <form class="mb-0" action="/newDriver">
                            <button class="d-none d-inline-block btn btn-sm btn-primary shadow-sm" type="submit">
                                New
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <table id="driversTable" class="table table-bordered table-striped">

                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="driver: ${drivers}">
                            <td th:text="${driver.getId()}">
                            <td>
                                <a th:text="${driver.getF1DriverName()}" th:href="@{'/showF1Driver/' + ${driver.getId()}}"></a>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="/js/f1csjavascript.js"></script>

<footer th:replace="~{fragments/footer :: foot}"></footer>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#driversTable').DataTable();
    });

    document.getElementById("drivers").classList.add("active");
</script>
</html>