<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head}">
    <title th:text="${track.getName()}"></title>
</head>

<body>

<div id="wrapper">

    <div th:replace="~{fragments/sidebar :: #sidebar}"></div>

    <div class="container-fluid">

        <div class="d-flex flex-column" id="content-wrapper">


            <img class="mt-4 shadow" crossorigin="anonymous" width="160" height="120"
                 th:src="@{${track.getFlagURL()}}">
            <div class="mt-2 d-flex">
                <h3 th:text="${track.getName()}" class="h3 text-gray-800"></h3>
                <button class="ml-auto d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" type="submit"
                        onclick="deleteTrack()">
                    Delete
                </button>
            </div>

            <div class="card shadow mt-4" th:if="${result == null}">
                <div class="card-header">
                    <h5>Enter Results</h5>
                </div>
                <div class="card-body">
                    <table id="newResults" class="table table-bordered table-striped">

                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Fastest Lap</th>
                            <th>Compensation +/-</th>
                        </tr>
                        </thead>
                        <tbody id="newResultsBody">
                        <tr th:each="row: ${drivers}">
                            <td id="driverName" th:text="${row.getF1DriverName()}">
                            <td id="driverID" th:text="${row.getId()}" hidden>
                            <td id="position">
                                <input class="form-control form-control-user"
                                       type="number" name="Position"
                                       placeholder="Position (1-20)"
                                       required>
                            </td>
                            <td id="fastestlap">
                                <input type="checkbox">
                            </td>
                            <td id="comp">
                                <input class="form-control form-control-user"
                                       type="number" name="Compensation"
                                       placeholder="Penalty/Gifted Points">
                            </td>
                        </tr>
                        </tbody>

                    </table>
                    <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                            onclick="submitResults()">
                        Submit
                    </button>

                </div>
            </div>

            <div class="card shadow mt-4" th:if="${result != null}">
                <div class="card-header">
                    <h5 th:text="Results"></h5>
                </div>
                <div class="card-body">
                    <table id="results" class="table table-bordered table-striped">

                        <thead>
                        <tr>
                            <th>Position</th>
                            <th>Name</th>
                            <th>Points</th>
                            <th>Fastest Lap</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="row: ${result}">
                            <td th:text="${row.getPosition()}">
                            <td th:text="${row.getF1Driver().getF1DriverName()}">
                            <td th:text="${row.getPoints()}">
                            <td>
                                <input type="checkbox" readonly th:checked="${row.getFastestLap()}">
                            </td>
                        </tr>
                        </tbody>

                    </table>

                    <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" type="submit"
                            onclick="clearAndReloadPage()">
                        Clear Results
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#results').DataTable();
    });

    async function clearAndReloadPage() {
        const promises = [];
        promises.push(fetch('/clearTrackResults/' + window.location.pathname.split("/").pop(), {method: 'POST'}));
        const responses = await Promise.all(promises);
        const success = responses.every(response => response.status === 200);
        if (success) location.reload();
    }

    async function deleteTrack() {
        const promises = [];
        promises.push(fetch('/deleteTrack/' + window.location.pathname.split("/").pop(), {method: 'POST'}));
        const responses = await Promise.all(promises);
        const success = responses.every(response => response.status === 200);
        if (success) window.location.href = "/listF1Tracks";
    }

    async function submitResults() {
        table = document.getElementById("newResultsBody")
        trackId = window.location.pathname.split("/").pop()
        const promises = [];
        for (var i = 0, row; row = table.rows[i]; i++) {
            driverID = row.cells['driverID'].textContent
            position = row.cells['position'].querySelector('input').value
            if (position == 0) {
                continue
            }
            if (position.length == 0) {
                continue
            }
            fastestLap = row.cells['fastestlap'].querySelector('input').checked
            comp = row.cells['comp'].querySelector('input').value ? row.cells['comp'].querySelector('input').value : 0
            params = "trackId=" + trackId + "&driverId=" + driverID + "&position=" + position + "&fastestlap=" + fastestLap
            if (comp) params = params + "&comp=" + comp
            promises.push(fetch('/addresult?' + params, {method: 'POST'}));
        }
        const responses = await Promise.all(promises);
        const success = responses.every(response => response.status === 200);
        if (success) location.reload();
    }
</script>
<footer th:replace="~{fragments/footer :: foot}"></footer>
</body>

</html>