<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head}">
    <title>Standings</title>
</head>

<body>

<div id="wrapper">

    <div th:replace="~{fragments/sidebar :: #sidebar}"></div>

    <div class="container-fluid">

        <div class="d-flex flex-column" id="content-wrapper">

            <h3 class="h3 mt-2 text-gray-800">Standings</h3>

            <div class="card shadow mt-4">
                <div class="card-body">

                    <table id="standingsTable" class="table table-bordered table-striped">

                        <thead>
                        <tr>
                            <th>Position</th>
                            <th>Name</th>
                            <th>Points</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="row: ${standings}">
                            <td th:text="${row.getPosition()}">
                            <td th:text="${row.getF1Driver().getF1DriverName()}">
                            <td th:text="${row.getTotal()}">
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script type="text/javascript">
    $(document).ready(function () {
        $('#standingsTable').DataTable();
    });

    document.getElementById("standings").classList.add("active");
</script>
</html>