<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: head}">
    <title>Tracks</title>
</head>

<body>

<div id="wrapper">
    <div th:replace="~{fragments/sidebar :: #sidebar}"></div>

    <div class="container-fluid">

        <div class="d-flex flex-column" id="content-wrapper">
            <div th:replace="~{fragments/topbar :: #topbar}"></div>

            <h3 class="h3 mt-2 text-gray-800">Tracks</h3>

            <div class="card shadow mt-4">
                <div class="card-header">
                    <div class="d-sm-flex align-items-center justify-content-between">
                        <form class="mb-0" action="/newTrack">
                            <button class="d-none d-inline-block btn btn-sm btn-primary shadow-sm" type="submit">
                                New
                            </button>
                        </form>
                    </div>
                </div>
                <div class="card-body">

                    <table id="tracksTable" class="table table-bordered table-striped">

                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Country</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="track: ${tracks}">
                            <td>
                                <a th:text="${track.getName()}" th:href="@{'/track/' + ${track.getId()}}"></a>
                            </td>
                            <td th:text="${track.getCountry()}">
                            <td>
                                <img crossorigin="anonymous" width="16" height="12"
                                     th:src="@{${track.getFlagURL()}}">
                            </td>
                        </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/f1csjavascript.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tracksTable').DataTable();
    });

    document.getElementById("tracks").classList.add("active");
</script>
<footer th:replace="~{fragments/footer :: foot}"></footer>
</body>

</html>